* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ededef;
  --primary-color: #748cf2;
}

body {
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
