* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
